@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --primary-color: #4a4a4a;
    --secondary-color: #50fa7b;
    --background-color: #282a36;
    --text-color: #f8f8f2;
    --accent-color: #ff79c6;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Press Start 2P', cursive;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    padding-top: 120px; /* Ajusta este valor según la altura de tu header */
}

.container {
    flex: 1 0 auto;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

main {
    background: var(--primary-color);
    padding: 20px;
    margin-top: 3em;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.section-block {
    background-color: rgba(255, 255, 255, 0.1);
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h2 {
    color: var(--secondary-color);
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

p {
    margin-bottom: 10px;
    text-align: left;
    width: 100%;
}

.section-image {
    max-width: 100%;
    height: auto;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
}

#destacado ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
}

#destacado ul li {
    margin-bottom: 15px;
}

#destacado ul li a {
    color: var(--accent-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

#destacado ul li a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
}

.galeria img {
    width: 100%;
    height: auto;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.galeria img:hover {
    transform: scale(1.05);
}

@media (min-width: 768px) {
    .section-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .section-content .section-text {
        flex: 1;
        padding-right: 20px;
    }

    .section-content .section-image {
        flex: 1;
        max-width: 45%;
    }

    #destacado .section-content {
        flex-direction: row-reverse;
    }

    #destacado .section-content .section-text {
        padding-right: 0;
        padding-left: 20px;
    }
}

@media (max-width: 767px) {
    .container {
        width: 95%;
    }

    .section-image {
        max-width: 100%;
    }

    .galeria {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}