@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --primary-color: #4a4a4a;
    --secondary-color: #50fa7b;
    --background-color: #282a36;
    --text-color: #f8f8f2;
    --accent-color: #ff79c6;
    --block-background: #44475a;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    padding-top: 120px; /* Ajusta este valor según la altura de tu header */
}

.container {
    flex: 1 0 auto;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

main {
    display: flex;
    flex-direction: column;
    background: var(--primary-color);
    padding: 20px;
    margin-top: 3em;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.content {
    width: 100%;
    padding-left: 0;
}

.sidebar {
    width: 100%;
    position: static;
    height: auto;
    overflow-y: visible;
    padding: 20px;
    background-color: var(--primary-color);
    border-right: none;
    border-bottom: 2px solid var(--accent-color);
    margin-bottom: 20px;
}

.sidebar h3 {
    color: var(--secondary-color);
    margin-bottom: 15px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 10px;
}

.sidebar a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 0.8em;
}

.sidebar a:hover {
    color: var(--accent-color);
}

h1, h2 {
    color: var(--secondary-color);
}

.content-block {
    background-color: var(--block-background);
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.content-block h2 {
    margin-top: 0;
}

/* Media Queries para diseño responsivo */
@media screen and (min-width: 768px) {
    main {
        flex-direction: row;
    }

    .sidebar {
        width: 25%;
        position: sticky;
        top: 120px; /* Ajusta este valor según la altura de tu header */
        height: calc(100vh - 120px); /* Ajusta este valor según la altura de tu header */
        overflow-y: auto;
        border-right: 2px solid var(--accent-color);
        border-bottom: none;
        margin-bottom: 0;
    }

    .content {
        width: 75%;
        padding-left: 20px;
    }
}

@media screen and (max-width: 767px) {
    body {
        padding-top: 80px; /* Ajusta este valor para pantallas más pequeñas */
    }

    .container {
        width: 100%;
        padding: 0 10px;
    }

    main {
        margin-top: 1em;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    .sidebar a {
        font-size: 0.7em;
    }
}